# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown files
[*.md]
trim_trailing_whitespace = false

# Swift files
[*.swift]
indent_style = space
indent_size = 4

# Objective-C/C files
[*.{h,m,c}]
indent_style = space
indent_size = 4

# Makefiles
[Makefile]
indent_style = tab

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# Ruby files (Homebrew formulas)
[*.rb]
indent_style = space
indent_size = 2
