
_private/
!/pdf22png/Tests/
!/pdf22png/Tests/**/*.swift
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
._*
.AppleDouble
.build/
.cursorindexingignore
.DS_Store
.idea/
.LSOverride
.Spotlight-V100
.Trashes
.vscode/
*.a
*.dmg
*.dSYM/
*.dylib
*.gcda
*.gcno
*.gcov
*.mode1v3
*.mode2v3
*.moved-aside
*.o
*.pbxuser
*.pdf
*.perspectivev3
*.swo
*.swp
*.tar.gz
*.xccheckout
*.xcscmblueprint
*.xcworkspace
*.zip
*~
build/
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
coverage/
DerivedData/
dist/
docs/_build/
issues/
Makefile.cmake
test-results/
testdata/test.pdf-oc/.test*
xcuserdata/